/* Pre-Defined Variables */
:root{
  --page-background: #F0F3F5;
  --white: #FFFFFF;
  --black: #000000;
  --purple: #9747FF;
  --blue: #4784FF;
  --cyan: #65BEFF;
  --shades: rgba(0, 0, 0, 0.25);

  --title: 2.25rem;
  --subtitle: 1.563rem;
  --body: 0.938rem;

  --main-font: roboto;
}
h1{
  font-size: var(--title)!important;
  font-weight: 900 !important;
  font-family: var(--main-font) !important;
}
h2{
  font-size: var(--subtitle)!important;
  font-weight: 700 !important;
  font-family: var(--main-font) !important;
}
h3{
   font-size: 1.25rem !important;
  font-weight: 500 !important;
}
p{
  font-size: var(--body) !important;
  font-weight: 400 !important;
  font-family: var(--main-font) !important;
}

.body{
  background-color: var(--page-background);
  display: flex;
}
.main_container{
  position: relative;
  margin: 0% 0% 0 20%;
}
.submain_container{
  margin: 2% 10% 0 10%;
}