/* Pre-Defined Variables */
:root{
  --page-background: #F0F3F5;
  --white: #FFFFFF;
  --black: #000000;
  --purple: #9747FF;
  --blue: #4784FF;
  --cyan: #65BEFF;
  --shades: rgba(0, 0, 0, 0.25);

  --title: 2.25rem;
  --subtitle: 1.563rem;
  --body: 0.938rem;

  --main-font: roboto;
}
h1{
  font-size: var(--title)!important;
  font-weight: 900 !important;
  font-family: var(--main-font) !important;
}
h2{
  font-size: var(--subtitle)!important;
  font-weight: 700 !important;
  font-family: var(--main-font) !important;
}
p{
  font-size: var(--body) !important;
  font-weight: 400 !important;
  font-family: var(--main-font) !important;
}

/* ------------ */


/* Login Page */
.login-body{
  display: flex;
  align-items: center;
}
.image{
  height: 100vh;
  filter: blur(2px) brightness(0.6);
}
.login-main-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 40%;
  justify-content: center;
  align-items: center;
  background-color: var(--purple);
}
