.container1{
  margin: 1vh 0.1vw 0 0.1vw;
  display: flex;
  flex-direction: column;
}
.cards_container{
  margin: 0.5vh 0 0 0;
  display: flex;
  justify-content: space-between;
}
.container2{
  display: flex;
  padding: 1vh 0 0 0;
  justify-content: space-between;
}
