.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17.5vw;
  height: 100vh;
  background-color: var(--purple);
}
.logo_container {
  padding: 5% 0%;
  width: 90%;
}
.logo {
  width: 100%;
  height: 100%;
}
.buttons_container {
  margin: 45%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttons{
  display: flex;
  margin: 5% 0% !important;
  padding: 0 10px;
  gap: 50px;
  background-color: var(--shades);
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 5vh;
  text-decoration: none !important;
}
.logos{
  width: 3vh;
  height: 3vh;
}
.buttons_logo{
  width: 100%;
  height: 100%;
  margin-right: 10px;
}

.links{
  color: rgb(255, 255, 255) !important;
  size: inherit !important;
}