.body{
  background-color: var(--blue);
  display: flex;
  justify-content: end;
  width: 82.5vw;
  height: 7vh;
}
.main_container{
  display: flex;
  align-items: center;
  gap: 10%;
  margin: 0 1vw;
}
.text_container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.name{
  color: var(--white);
}
.logo{
  width: 4vh;
  height: 4vh;
}